{
  "servers": [
    {
      "address": "::",
      "port": {
        {variables.ss_port
        }
      },
      "method": "chacha20-ietf-poly1305",
      "password": "{{variables.ss_password}}",
      "mode": "tcp_and_udp",
      "fast_open": false,
      "timeout": 7200
    }
  ]
}
}
]
}