{
  "servers": [
    {
      "address": "::",
      "port": {{env.SS_PORT}},
      "method": "chacha20-ietf-poly1305",
      "password": "{{env.SS_PASSWORD}}",
      "mode": "tcp_and_udp",
      "fast_open": false,
      "timeout": 7200
    }
  ]
}
