[Unit]
Description=service
After=network.target

[Service]
Type=simple
ExecStart=%h/.cargo/bin/ssserver -c %h/.config/ss/config.json
Restart=on-failure
WorkingDirectory=%h/.config/ss
[Install]
WantedBy=multi-user.target
