[Unit]
Description=service
After=network.target

[Service]
Type=simple
ExecStart=%h/.local/bin/gost -C %h/.config/gost/gost.json
Restart=on-failure
WorkingDirectory=%h/.config/gost
[Install]
WantedBy=multi-user.target

