[Unit]
Description=qbittorrent
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=exec
ExecStart=%h/.local/bin/qbittorrent-nox
Restart=on-failure

[Install]
WantedBy=default.target



[Unit]
Description=qbittorrent container
After=network-online.target
Wants=network-online.target nss-lookup.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=%h/.local/bin/podman-compose -f %h/.config/qBittorrent/docker-compose.yml up -d
ExecStop=%h/.local/bin/podman-compose -f %h/.config/qBittorrent/docker-compose.yml down

[Install]
WantedBy=multi-user.target