MEILI_DB_PATH="{{user.home_dir}}/.local/share/meilisearch/data.ms/"
MEILI_DUMPS_DIR="{{user.home_dir}}/.local/share/meilisearch/dumps/"
MEILI_DUMPS_DIR="{{user.home_dir}}/.local/share/meilisearch/snapshots/"
MEILI_HTTP_ADDR="{{env.TEMP_MEILISEARCH_HTTP_ADDR}}"
MEILI_MASTER_KEY="{{env.TEMP_MEILISEARCH_API_KEY}}"
MEILI_ENV="production"
MEILI_NO_ANALYTICS="true"